@import url('https://fonts.googleapis.com/css?family=Sofia');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --big-size: 30px;
  --correct-color: rgb(111, 241, 116);
  --wrong-color: rgb(240, 85, 113);
}

body {
  background-color: rgb(238, 222, 191);
  color: black;

  --main-color: rgb(249, 230, 145);
  --background-color-2: white;
  --hover-color: rgb(233, 191, 226);
  --border-color: rgb(0, 15, 113);
  --button-color: rgb(181, 183, 210);
  --text-color: black;
  --svg-color: rgb(248, 254, 143);
}

body.dark-theme {
  background-color: rgb(25, 29, 28);
  color: white;

  --main-color: rgb(56, 52, 59);
  --background-color-2: black;
  --hover-color: rgb(63, 64, 56);
  --border-color: rgb(64, 66, 14);
  --button-color: rgb(73, 82, 84);
  --text-color: white;
  --svg-color: rgb(73, 82, 84);
}

@media (prefers-color-scheme: dark) {

  /* defaults to dark theme */
  body {
    background-color: rgb(25, 29, 28);
    color: white;

    --main-color: rgb(56, 52, 59);
    --background-color-2: black;
    --hover-color: rgb(63, 64, 56);
    --border-color: rgb(64, 66, 14);
    --button-color: rgb(73, 82, 84);
    --text-color: white;
    --svg-color: rgb(73, 82, 84);
  }

  /* Override dark mode with light mode styles if the user decides to swap */
  body.light-theme {
    background-color: rgb(238, 222, 191);
    color: black;

    --main-color: rgb(243, 151, 64);
    --background-color-2: white;
    --hover-color: rgb(238, 224, 29);
    --border-color: rgb(0, 15, 113);
    --button-color: rgb(181, 183, 210);
    --text-color: black;
    --svg-color: rgb(248, 254, 143);
  }
}

/* Title Section */
.title {
  font-family: "Sofia";
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-left: 10px;
  user-select: none;
}

.toggle-theme {
  position: absolute;
}

.toggle-theme .small-button {
  border-radius: 1rem;
  font-size: 2vw;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--button-color);
}

/* Buttons section */

.main-menu {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
}

.main-menu button {
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--button-color);
  padding: 0.5rem 1rem;
}

.main-menu button:hover {
  box-shadow: 0px 0px 0px .1rem rgb(0, 15, 113);
}

.svgToHide {
  height: -0px;
  margin: 0px;
}

a.button {
  margin: 20px;
  font-size: 20px;
}

.arrow {
  position: relative;
  font-size: 20px;
}

.arrow::before {
  position: absolute;
  left: -13%;
  display: inline-block;
  grid-row: 1;
  grid-column: 1;
  padding-right: 8px;
  color: transparent;
  content: "🢂";
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.arrow::after {
  position: absolute;
  left: 104%;
  display: inline-block;
  grid-row: 1;
  grid-column: 3;
  padding-left: 8px;
  content: "🢀";
  color: transparent;
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.arrow:hover::before {
  color: var(--text-color);
  -webkit-transform: translateX(4px);
  -moz-transform: translateX(4px);
  -ms-transform: translateX(4px);
  -o-transform: translateX(4px);
  transform: translateX(4px);
}

.arrow:hover::after {
  color: var(--text-color);
  -webkit-transform: translateX(-4px);
  -moz-transform: translateX(-4px);
  -ms-transform: translateX(-4px);
  -o-transform: translateX(-4px);
  transform: translateX(-4px);
}

/* Quote Section */

.quoteDiv {
  display: grid;
  padding: 30px;
  min-width: 300px;
  max-width: 300px;
  margin-top: 10px;
  background-color: var(--button-color);
  border-radius: 10px;
  border-style: solid;
}

.quoter {
  display: grid;
  justify-content: center;
  font-size: 20px;
  font-weight: bolder;
}

/* Setup Section */

.setup {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
}

.setup label {
  font-size: 20px;
  align-self: center;
  font-weight: bold;
  margin: 2px;
}

.setup input,
.setup select {
  padding-inline: 0.5rem;
}

.setup input[type="text"] {
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 5px;
  outline: solid 1px var(--border-color);
}

.setup select {
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 5px;
  outline: solid 2px var(--border-color);
  ;
}

.setup input[type="submit"] {
  font-size: var(--big-size);
  margin: 15px;
  outline: solid 2px var(--border-color);
  ;
  border-radius: 10px;
  background-color: var(--button-color);
  color: var(--text-color);
}

.setup input[type="submit"]:hover {

  outline: solid 2px var(--border-color);
  background-color: var(--hover-color);
  box-shadow: 0px 0px 0px .25rem rgb(0, 15, 113);
  cursor: pointer;
}

/* Game Section */

.fs {
  background-color: var(--main-color);
  border: 3px solid var(--border-color);
  border-radius: 10px;
  text-align: center;
  width: 90%;
}

.fieldset-box legend {
  font-size: 3rem;
}

.question {
  display: grid;
  font-style: italic;
  font-size: 3rem;
  align-content: center;
  padding: 0.5rem;
}

.game-div {
  margin-top: 1rem;
  justify-items: center;
  row-gap: 1rem;
}

.game-div input[type="radio"] {
  display: none;
}

.game-div label {
  display: grid;
  justify-content: space-around;
  align-content: center;
  background-color: #ddd;
  color: black;
  padding: 0.5rem;
  margin: 0.4ch 0.5rem;
  font-size: 3.5rem;
  cursor: pointer;
  max-height: minmax(5rem, fit-content);
  user-select: none;
  transition: background-color ease-in-out 200ms,
    color ease-in-out 200ms;
  border-radius: 2rem;
}

.game-div label:hover {
  font-weight: bold;
  outline: solid 2px black;
  color: var(--text-color);
  background-color: var(--hover-color);
}

/* .radio-toolbar input[type="radio"]:checked+label {
  font-weight: bold;
  background-color: rgb(240, 210, 132);
} */

.questionsDetailsDiv {
  margin: 1rem 1rem;
  font-size: 5ch;
  display: grid;
  flex-direction: row;
  grid-template-columns: [qdCategory] 20% [qdEmptySpace] 20% [qdDifficulty] auto;
}

.qdDifficulty {
  background-color: var(--main-color);
  text-align: right;
  user-select: none;
  align-self: center;
  font-size: 4rem;
}

.qdCategory {
  background-color: var(--main-color);
  text-align: left;
}

.endGameDiv {
  justify-items: center;
}

.endGameDiv button {
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 0.5rem;
  outline: solid 2px black;
  padding: 0.2rem;
  width: 90% !important;
  transition: box-shadow ease-in-out 200ms,
    background-color ease-in-out 200ms;
}

.endGameDiv button:hover {
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(161, 161, 161);
  box-shadow: 0px 0px 0px 4px rgb(0, 15, 113);
}

.stats ol {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 10fr));
  grid-gap: 1rem;
  list-style-position: inside;
  padding: 10px;
  justify-items: center;
}

.stats ol li {
  width: 90%;
  margin: 0;
  padding: 0 !important;
}

.endGameDiv .endGameAnswer {
  font-family: monospace;
  text-align: left;
  padding: 5px 15px;
  margin-bottom: 5px;
  font-size: 16px;
  white-space: pre-line;
  outline: black solid 2px;
  /* user-select: none; */
}

.endGameAnswer::after {
  content: '' !important;
}


.endGameDiv ::marker {
  font-size: 20px;
  font-family: monospace;
}

.endGameMessage {
  font-size: var(--big-size);
}

.endGameMessage:hover {
  font-size: var(--big-size);
  cursor: pointer;
}

.end-game__buttons {
  margin-bottom: 1rem;
  height: 6rem;
}

.endGameBacktoMenu {
  width: 90%;
  background-color: var(--wrong-color);
}

.endGamePlayAgain {
  width: 90%;
  background-color: var(--correct-color);
}

.answer {
  font-weight: bold;
  color: var(--text-color);
  font-size: 2rem;
  padding: 0.5rem 0;
}


.correct-answer {
  background-color: var(--correct-color) !important;
}

.correct-answer::after {
  font-weight: normal;
  content: "🤩";
}

.wrong-answer {
  background-color: var(--wrong-color) !important;
}

.wrong-answer::after {
  font-weight: normal;
  content: "😥";
}

.default-answer {
  background-color: var(--main-color);
  font-weight: bold;
  font-size: 3rem;
  color: black;
}

/* Create Question Section */

.createForm {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  margin-left: 10%;
}

.createForm label {
  font-size: 20px;
  align-self: center;
  font-weight: bold;
  margin: 5px;

}

.createForm input[type="text"] {
  font-size: 20px;
  margin-bottom: 5px;
  outline: solid 2px var(--border-color);
  background-color: var(--background-color-2);
  color: var(--text-color);
}

.createForm input[type="submit"] {
  font-size: var(--big-size);
  margin: 15px;
  outline: solid 2px var(--border-color);
  border-radius: 10px;

}

.createForm input[type="submit"]:hover {
  font-weight: bold;
  outline: solid 2px var(--border-color);
  background-color: var(--hover-color);
  box-shadow: 0px 0px 0px 5px rgb(0, 15, 113);
  cursor: pointer;
}

label.seperator {
  font-size: var(--big-size);
  font-weight: bold;
}

.empty {
  outline: solid 3px red !important;
}

.createResult {
  min-height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  outline: solid 2px var(--border-color);
  cursor: copy;
  color: var(--text-color);
  background-color: var(--background-color-2);
}

.cancel {
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 10px;
  background: var(--wrong-color);
  display: flex;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.cancel:hover {
  border-radius: 10px;
  outline: solid 2px var(--border-color);
  background-color: var(--correct-color);
  box-shadow: 0px 0px 0px 1px rgb(0, 15, 113);
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: var(--main-color);
  outline: solid 2px var(--border-color);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: relative;
  z-index: 1;
  left: 85%;
  bottom: 100%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* PHONE CSS */
@media only screen and (max-width: 1200px) {

  .game-div .question,
  .fieldset-box .question,
  .game-div label {
    font-size: 2rem;
    padding: 0.5rem;
  }

  .questionsDetailsDiv {
    font-size: 2rem;
  }

  .fieldset-box legend {
    font-size: 2.5rem;
  }

  .answer {
    font-weight: bold;
    color: var(--text-color);
    font-size: 2rem;
    padding: 0.5rem 0;
  }

  .game-div label:active,
  .game-div label:checked,
  .game-div label:enabled {
    font-weight: normal;
    color: var(--text-color);
    background-color: #ddd;
    outline: none;
  }
}